body {
	margin: 0px;
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	background-color: rgb(236, 236, 236);
}

.primary-color {
	background-color: #9C27B0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1170px;
}

.page-content {
	margin-top: 15px;
	margin-bottom: 15px;
}

.politician-card {
	width: 360px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}