body {
	margin: 0px;
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	background-color: rgb(236, 236, 236);
}

.primary-color {
	background-color: #9C27B0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1170px;
}

.page-content {
	margin-top: 15px;
	margin-bottom: 15px;
}

.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	display: none;
	font-size: 12px;
	left: 0px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 80px;
	z-index: 10;
}

.inherit-colors {
	color: inherit;
	background-color: inherit;
}

.page-content-container-2-columns {
	width: 50%;
	margin: 10px;
}